.loginForm{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -220px;
	border : solid 2px;
	border-radius : 25px;
	border-color : #000;
	padding : 20px;
	width : 400px;
	height : 300px;
        
}
.loginForm #form{
	padding-top: 50px;
}

.loginForm label{
	padding-left: 30px;
	margin-top: 10px;
	
}
.loginForm input{
	margin-top: 10px;
}

.loginForm button{
	margin-left: 150px;
	width: 100px;
	
}